{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">5% in CN, last 2 versions"
          ]
        },
        "modules": false,
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": ["transform-remove-console"]
}
